
.details {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: max-content;
    height:max-content;
}

.FoldDetailChildren {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: inherit;
    justify-content: inherit;
}